live-ios/Live.xcodeproj/project.pbxproj
live-ios/Live/R.generated.swift
live-ios/Live.xcodeproj/xcuserdata/sunny.xcuserdatad/
live-ios/Live.xcworkspace/xcuserdata/sunny.xcuserdatad/
live-ios/Pods/Pods.xcodeproj/xcuserdata/sunny.xcuserdatad/
